@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "RubikBlack";
	src: url("../public/Rubik-Black.woff2");
}

@font-face {
	font-family: "RubikBold";
	src: url("../public/Rubik-Bold.woff2");
}

@font-face {
	font-family: "DMSans";
	src: url("../public/DMSans-Regular.woff2");
}
